<td id="favorite-<%=recipe.id %>">
  <% if !Favorite.exists?(user_id:current_user.id,recipe_id:recipe.id) %>
  <%= link_to recipe_favorites_path(recipe), method: :post , remote: true do %>
  <i class="fas fa-star" aria-hidden="true" ></i>お気に入り
  <% end %>
  <% else %>
  <%= link_to recipe_favorites_path(recipe), method: :delete , remote: true do %>
  <i class="fas fa-star" aria-hidden="true "style="color: #FFCC00	" ></i>お気に入り
  <% end %>
  <% end %>
  <%= recipe.favorites.count %>
  </td>

