/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');




h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding: 1em 2em;
  text-align: center;
}

h2:before,
h2:after {
  position: absolute;
  content: '';
}

h2:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

h2:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.profile_image {
  border-radius: 50%;
}

.navbar-nav > li {
  margin-left:10px;
  margin-right:10px;
}

// レシピ投稿ボタン
.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

// ヘッダーボタン
.btn-radius-solid {
  color: rgb(27, 27, 27);
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel {
  background-color: lightsteelblue;
}

// 見出し
.str {
  display       : inline-block;        /* ブロック化              */
  font-weight   : bold;                /* 太字                    */
  font-size     : 150%;                /* 文字を大きくする        */
  border-bottom : 1px solid #ffff1a;   /* 下線                    */
  color         : #000000;             /* 文字色                  */
  background    : linear-gradient(transparent 50%, #ffff1a 65%);  /* ラインマーカーを付ける  */
}

.about_title {
  font-size: 120%
}