/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

// メインビジュアル
#container{
  height: 300px;
  background-image: image-url("image1.jpg");
  background-size:cover;
  margin-bottom: 50px;
}
// 

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding: 1em 2em;
  text-align: center;
}

h2:before,
h2:after {
  position: absolute;
  content: '';
}

h2:after {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

h2:before {
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.profile_image {
  border-radius: 50%;
}

.navbar-nav > li {
  margin-left:10px;
  margin-right:10px;
}

// レシピ投稿ボタン
.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

// ヘッダーボタン
.btn-radius-solid {
  color: rgb(27, 27, 27);
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.footer {
  text-align: center;
  padding-top: 100px;
}

// ページネーション
.pagination {
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 250px;
  max-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: rgb(247, 247, 247);
}

// 見出し
.str {
  display       : inline-block;        
  font-weight   : bold;               
  font-size     : 150%;                
  border-bottom : 1px solid #ffff1a;  
  color         : #000000;             
  background    : linear-gradient(transparent 50%, #ffff1a 65%); 
}

.caution{
  color: red;
}

.about_title {
  font-size: 120%
}
// ジャンル
 .box {
  position      : relative;            
  box-sizing    : border-box;          
  margin        : 13px auto 0 auto;    
  max-width     : 500px;               
  background    : rgb(247, 247, 247);                
  padding       : 32px 10px 25px 10px; 
  border        : 2px solid #172642;
}
 
.box::before {
  position      : absolute;          
  display       : inline-block;      
  box-sizing    : border-box;       
  line-height   : 1;                 
  background    : #172642;           
  color         : #ffffff;           
  content       : attr(title);       
  font-weight   : bold;              
  padding       : 7px 18px;          
  top           : -15px;             
  left          : 14px;              
  border-radius : 14px;              
  font-size     : 14px;              
}

.introduction_field {
  position      : relative;           
  box-sizing    : border-box;         
  margin-top    : 32px;                 
  max-width     : 566px;              
  background    : #fff;              
  padding       : 25px 10px 25px 10px; 
  border        : 2px solid #660000;  
}
 

.introduction_field::before {
  position      : absolute;          
  display       : inline-block;      
  box-sizing    : border-box;       
  line-height   : 1;                 
  background    : #ffffff;           
  border        : 2px solid #660000; 
  color         : #660000;           
  content       : attr(title);       
  font-weight   : bold;              
  padding       : 8px 8px;          
  top           : -34px;            
  left          : -2px;              
  border-radius : 5px 5px 0 0;     
  font-size     : 14px;              
}

.genre_field {
  position      : relative;           
  box-sizing    : border-box;         
  margin-top    : 40px;                
  max-width     : 140px;              
  background    : #fff;              
  padding       : 7px 3px 7px 5px; 
  border        : 2px solid #660000;  
}
 

.genre_field::before {
  position      : absolute;          
  display       : inline-block;      
  box-sizing    : border-box;       
  line-height   : 1;                 
  background    : #ffffff;           
  border        : 2px solid #660000; 
  color         : #660000;           
  content       : attr(title);       
  font-weight   : bold;              
  padding       : 8px 8px;          
  top           : -34px;            
  left          : -2px;              
  border-radius : 5px 5px 0 0;     
  font-size     : 14px;              
}


.cost_field {
  position      : relative;           
  box-sizing    : border-box;         
  margin-top    : 40px;                
  max-width     : 140px;              
  background    : #fff;              
  padding       : 7px 3px 7px 5px; 
  border        : 2px solid #660000;  
}
 
.cost_field::before {
  position      : absolute;          
  display       : inline-block;      
  box-sizing    : border-box;       
  line-height   : 1;                 
  background    : #ffffff;           
  border        : 2px solid #660000; 
  color         : #660000;           
  content       : attr(title);       
  font-weight   : bold;              
  padding       : 8px 8px;          
  top           : -34px;            
  left          : -2px;              
  border-radius : 5px 5px 0 0;     
  font-size     : 14px;              
}

.time_field {
  position      : relative;           
  box-sizing    : border-box;         
  margin-top    : 40px;                
  max-width     : 140px;              
  background    : #fff;              
  padding       : 7px 3px 7px 5px; 
  border        : 2px solid #660000;  
}
 
.time_field::before {
  position      : absolute;          
  display       : inline-block;      
  box-sizing    : border-box;       
  line-height   : 1;                 
  background    : #ffffff;           
  border        : 2px solid #660000; 
  color         : #660000;           
  content       : attr(title);       
  font-weight   : bold;              
  padding       : 8px 8px;          
  top           : -34px;            
  left          : -2px;              
  border-radius : 5px 5px 0 0;     
  font-size     : 14px;              
}

.material_field {
  position      : relative;           
  box-sizing    : border-box;         
  margin-top    : 40px;                
  max-width     : 325px;              
  background    : #fff;              
  padding       : 7px 3px 7px 5px; 
  border        : 2px solid #660000;  
}
 

.material_field::before {
  position      : absolute;          
  display       : inline-block;     
  box-sizing    : border-box;       
  line-height   : 1;                 
  background    : #ffffff;           
  border        : 2px solid #660000; 
  color         : #660000;          
  content       : attr(title);       
  font-weight   : bold;              
  padding       : 8px 8px;         
  top           : -34px;           
  left          : -2px;             
  border-radius : 5px 5px 0 0;     
  font-size     : 14px;              
}

.step_field {
  position      : relative;           
  box-sizing    : border-box;         
  margin-top    : 40px;                
  max-width     : 325px;              
  background    : #fff;              
  padding       : 25px 10px 25px 10px; 
  border        : 2px solid #660000;  
}
 

.step_field::before {
  position      : absolute;          
  display       : inline-block;      
  box-sizing    : border-box;        
  line-height   : 1;                 
  background    : #ffffff;           
  border        : 2px solid #660000; 
  color         : #660000;           
  content       : attr(title);      
  font-weight   : bold;             
  padding       : 8px 8px;         
  top           : -34px;             
  left          : -2px;             
  border-radius : 5px 5px 0 0;     
  font-size     : 14px;              
}

