<div class="panel" style="margin-top: 50px;">
  <div class="box" title="ジャンル">
    
    <% genres.each do |genre| %>
      <dd><%= link_to genre.name, recipes_path(genre_id: genre.id) %></dd>
    <%end%>
  </div>
</div>